# Dart and Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# Environment
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
